# Google BigQuery Settings
GCP_PROJECT_ID=your-gcp-project-id
BIGQUERY_DATASET=retail_m5_dw
GOOGLE_APPLICATION_CREDENTIALS=path/to/your/gcp-key.json

# Execution Settings (Set to True for offline local DuckDB database fallback)
USE_LOCAL_DUCKDB=True
LOCAL_DUCKDB_PATH=data/m5_warehouse.duckdb

# Data Paths
RAW_DATA_DIR=data
PROCESSED_DATA_DIR=data/processed
